.container {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 24px;
}

.left {
  flex: 1;
}

.right {
  flex: 2;
  display: flex;
  flex-direction: column; /* 위 -> 아래 배치 */
  gap: 24px; /* 위아래 컴포넌트 사이 간격 */
  height: 100%;
}

/* 오른쪽 영역 안의 자식 컴포넌트 높이를 반반으로 */
.right > * {
  flex: 1;
  min-height: 0; /* overflow 방지 */
}
